$default-color: #e0e0e0;
$default-color-dark: #aeaeae;

$primary-color: #2962ff;
$primary-color-dark: #0039cb;

$secondary-color: #455a64;
$secondary-color-dark: #1c313a;

$danger-color: #d32f2f;
$danger-color-dark: #9a0007;

$text-color-1: #3f3f3f;
$text-color-2: #3d5afe;
$text-color-3: #fff;
$text-color-4: #9e9e9e;

.btn {
  font-family: 'Noto Sans JP', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  background-color: $default-color;
  color: $text-color-1;

  border: none;
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    background: $default-color-dark;
  }

  &:disabled,
  &[disabled] {
    cursor: default;
    background-color: $default-color;
    color: $text-color-4;
  }
}

.btn.btn--md {
  min-width: 81px;
  min-height: 36px;
}
.btn.btn--sm {
  width: 73px;
  height: 32px;
}
.btn.btn--lg {
  width: 93px;
  height: 42px;
}

.btn.btn--outline {
  color: $text-color-2;
  border: 1px solid #3d5afe;
  background: transparent;

  &:hover,
  &:focus {
    background: rgba($primary-color, 0.1);
  }
}

.btn.btn--text {
  color: $text-color-2;
  box-shadow: none;
  background: transparent;

  &:hover,
  &:focus {
    background: rgba($primary-color, 0.1);
  }

  &:disabled,
  &[disabled] {
    cursor: default;
    color: $text-color-4;
    background: transparent;
  }
}

.btn.btn--disableShadow {
  box-shadow: none;
  background-color: $primary-color;
  color: $text-color-3;
}

.btn--primary {
  background-color: $primary-color;
  color: $text-color-3;

  &:hover {
    background-color: $primary-color-dark;
  }
}
.btn--secondary {
  background-color: $secondary-color;
  color: $text-color-3;

  &:hover {
    background-color: $secondary-color-dark;
  }
}
.btn--danger {
  background-color: $danger-color;
  color: $text-color-3;

  &:hover {
    background-color: $danger-color-dark;
  }
}

.btn--Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
  color: $text-color-3;
  padding: 8px 16px;

  &:hover {
    background-color: $primary-color !important;
  }
}

.btn--Icon .material-icons {
  font-size: 13px;
}

.btn--startIcon .material-icons {
  margin-right: 5px;
}

.btn--endIcon .material-icons {
  margin-left: 5px;
}
